<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"
         aria-current="page"
         [routerLinkActive]="['active']"
         [routerLink]="['dashboard']">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLinkActive]="['active']"
         [routerLink]="['todos']">Todo List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLinkActive]="['active']"
         [routerLink]="['about']">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLinkActive]="['active']"
         [routerLink]="['privacy']">Privacy Policy</a>
    </li>
  </ul>
</nav>
